/* Root Variables */
:root {
   --main-color: #222;
   --secondary-color: #000;

   --border-color: #666;

   --main-txt: #fff;
   --secondary-txt: #eee;

   --theme-dot-border: #fff;

   --preview-bg: rgba(68, 68, 68, 0.5);
   --preview-shadow: #111;

   --link-border: #1DB954;
   
   --btn-color: #999999;
}


#dark {border-color: var(--theme-dot-border);}
#submit {color: black;}