/* Root Variables */
:root {
   --main-color: #eaeaea;
   --secondary-color: #fff;

   --border-color: #6868AC;

   --main-txt: black;
   --secondary-txt: #222;

   --theme-dot-border: #222;

   --preview-bg: rgba(216, 216, 241, 0.25);
   --preview-shadow: #b6b6e9;

   --link-border: #6868AC;
   
   --btn-color: #6868AC;
}

.nav-wrapper {background-color: var(--link-border);}
.nav-wrapper #nav a {color: var(--secondary-color);}