/* Root Variables */
:root {
   --main-color: #fcb0b6;
   --secondary-color: #ffdccd;

   --border-color: #b3023d;

   --main-txt: black;
   --secondary-txt: #222;

   --main-font: 'Dancing Script', cursive;

   --theme-dot-border: #222;

   --preview-bg: rgba(224, 101, 138, 0.15);
   --preview-shadow: #fcb0b6;

   --link-border: #b3023d;
   
   --btn-color: #b3023d;
}

.nav-wrapper {background-color: var(--border-color);}
.nav-wrapper #nav a {color: var(--secondary-color);}